* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


    
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 350px;
    margin-right: 350px;
}

.container {
    background-color: #23232e;
    padding: 2rem;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, 
    Arial, sans-serif;
    background: #23232e;
    height: 8vh;
}

main {
    background: url("../imgs/tapete.jpg") no-repeat
    center center;
    background-size: cover;
    height: 92vh;

}


.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.navbar {
    display:flexbox;
    justify-content:space-between;
    align-items:center;
    background-color: rgb(43, 50, 90);
    padding: 1rem;
    position:fixed;
    top: 0;
    width: 300%;
    z-index: 1000;
}

.navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 83rem;
    font-size: 1rem;
    font-weight: bold;
}






.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input,
button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

button:hover {
    background-color: #3aa6ff;
}

h1 {
    margin-top: 40px;
    margin-bottom: 1rem;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}



input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

button {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(125, 178, 228);
    color: white;
    font-size: 20px;
    cursor: pointer;
}