<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop-SpringBoot-JPA</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Tapetes e lençóis Lopes</a>

            <ul class="nav-list">
                <li><a href="/src/main/resources/templates/index.html">Início</a></li>
                <li><a href="/">Sobre</a></li>
                <li><a href="/">Contato</a></li>
            </ul>
            
        </nav>
    </header>
    <main>
        <div class="box"> 
            <div class="container">
                <div class="form-wrapper">
                    <h1>Crie sua conta</h1>
                    <form id="cadastro-form">
                        <input type="text" class="name" required placeholder="Nome">
                        <input type="email" class="email" required placeholder="Email">
                        <input type="tel" class="phone" required placeholder="Telefone">
                        <input type="password" class="password"required minlength="6" placeholder="Senha">
                        <button type="submit">Cadastrar</button>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="form-wrapper">
                    <h1>Já tem uma conta?</h1>
                    <form id="login-form">
                        <input type="email" class="email" placeholder="Email">
                        <input type="password" class="password" placeholder="Senha">
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
        <script src="../static/js/script.js"></script>
        
    </body>
    </html>